* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-bg-color: #fed051;
}
body {
  font-family: "Roboto", sans-serif;
}
main {
  display: flex;
  width: 80%;
  margin: auto;
  border: 1px solid black;
}
/*******    photo candidat  *****************/
img {
  margin-top: 35px;
  margin-bottom: 20px;
  border-radius: 50%;
  box-shadow: 2px 2px;
  max-height: 130px;
}
.miniature {
  text-align: center;
}
/**********************sectionn gauche *********************/
#sectionLeft {
  display: flex;
  flex-direction:column;
  background-color: var(--main-bg-color);
  width: 33%;
  height: auto;
}
address{
  padding: 30px;
}
address>p{
  padding-top: 10px;
  text-align: left;
}
address>a{
  align-items: center;
}
h1{
  font-size: 1.4em;
}
h2{
  font-size: 1.3em;
}
h3{
  line-height: 20px;
}
h5{
  color: var(--main-bg-color);
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  background-color: black;
}
.propos {
  margin-top: 20px;
  color: black;
}
h5{
  padding: 7px 7px;
}
.contact a {
  text-align: justify-all;
  text-decoration: none;
  color: black;
}
h6 {
  padding-bottom: 20px;
  font-weight: 18px;
}
.icones {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0px;
  flex: 3;
}
aside.loisir .fa{
  font-size: 35px;
}
/*****icones Loisirs****************/
.fa-camera,
.fa-futbol-o,
.fa-music {
  color: black;
  }
aside.loisir i.fa {
    display: inline-block;
    justify-content: space-between;
    border-radius: 50px;
    box-shadow: black 0 0 0 1px;
    padding: 0.2em 0.2em;
  }
  aside.loisir{
    padding-top: 25px;

  }
  .propos {
    padding-bottom: 20px;

  }
  aside.propos h3{
    padding-top: 20px;
    margin: 0 30px;
  }
/********************** section  droite    *******************/
#sectionRight {
  background-color: white;
  padding-left: 50px;
  width: 73%;
  word-wrap:break-word;
}
.data
{
  display:flex;
  width:100%;
  padding-top: 25px;
  margin-bottom:30px;
}
.data>div
{
  margin:5px;
}
.data>div:nth-child(2)
{
  min-width:30%;
}
.data p
{
  color:#757575;
  font-weight:bold;
}
.formation{
  padding-top: 40px;
  /*padding-right: 10px;*/
  line-height: 20px;
}
h4{ 
  font-size:20px;
  margin-left:30px
  margin-right:5px;
  border-bottom: var(--main-bg-color) solid 2px;
  padding-bottom:5px;
}
.space {
    margin-right: 15px;
}
hr {
  width: 7%;
  height: 2px;
  margin-top: 6px;
  border-top: 1px solid var(--main-bg-color);
  border-top-color: var(--main-bg-color);
}
.name {
  margin-top: 55px;
  font-weight: bold;
  color: var(--main-bg-color);
  font-size: 2.5rem;
  font-weight: 400;
}
.name em {
  color: black;
}
.fa-graduation-cap,
.fa-wrench,
.fa-pencil-alt,
.fa-dot-circle,
.fa-circle.fa-xs {
  color: var(--main-bg-color);
}
.experience{
  line-height: 20px;
}

/*************************************/
.recommandation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0px;
  line-height: 20px;
}

section.recommandation span {
  font-weight: normal;
}
ul {
  list-style: none;
  font-weight: bold;
  color: #424242;
}
li {
  margin-left: 2px;
}
/***********Média  querie***with directive CSS******  Responsive Design  side ************/
@media screen and (max-width: 800px){
 main {
    flex-direction: column;
    width: 100%;
  }
  section#sectionLeft {
    width: 100%;
     margin-top: 130px;
  }
  section#sectionRight {
        width: 100%;
        padding-left:15px;
        padding-right: 15px;
    }
.contact{
       padding-left: 30px;
}
  #sectionRight header{
        position: absolute;
        top: 12px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        display: block;
        text-align: center;
        }
hr.shortLine{
          display: none;
        }
 .name {
  margin-top: 25px;
  font-weight: bold;
  color: var(--main-bg-color);
  font-size: 2rem;
  font-weight: 400;
}
.name em {
  color: black;
}
  img{
     max-height: 100px;
}
h2{
  font-size: 0.9em;
}
h3{
  line-height: 20px;
}

}
/***********Média  querie***with directive CSS******  Responsive Design  side ************/}
@media screen and (max-width: 512px) {
  main {
    flex-direction: column;
    width: 100%;
  }
  section#sectionLeft {
    width: 100%;
     margin-top: 130px;
  }
  section#sectionRight {
        width: 100%;
        padding-left:5px;
        padding-right: 5px;
    }
.contact{
       padding-left: 30px;
}
  #sectionRight header{
        position: absolute;
        top: 12px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        display: block;
        text-align: center;
}
hr.shortLine{
          display: none;
        }
.formation span.normal{
  display: none;
}
img{
  max-height: 50px;
}
article span.normal{
  display: none;
}
}
